Package: plasma-defaults-privos
Version: 20250522
Section: custom
Priority: optional
Architecture: all
Essential: no
Maintainer: Pol Kaulfield <kaulfield@protonmail.com>
Description: Default settings for the PrivOS plasma session
