Package: ubiquity-frontend-kde
Source: ubiquity
Version: 24.04.5
Architecture: all
Maintainer: Ubuntu Installer Team <ubuntu-installer@lists.ubuntu.com>
Installed-Size: 392
Depends: kde-window-manager | kwin, python3-dbus, python3-dbus.mainloop.pyqt5, python3-pyqt5, python3-pyqt5.qtsvg, python3-pyqt5.qtwebkit, ubiquity (= 24.04.5), xauth, python3:any (>= 3.1~)
Provides: ubiquity-frontend-24.04.5
Section: admin
Priority: optional
Description: KDE frontend for Ubiquity live installer
 This package provides a KDE-based user interface frontend for the Ubiquity
 live CD installer.
