Package: brave-settings-privos
Version: 20252025-1
Section: custom
Priority: optional
Architecture: all
Essential: no
Maintainer: Pol Kaulfield <kaulfield@protonmail.com>
Description: Brave browser default settings for the PrivOS project
