/* TODO 2022-02-22 mmikowski: Annotate these comments or delete */
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*dl, dt, dd, ol, ul, li, */
html, body, div, span, applet, object, iframe,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
fieldset, form, label, legend,
caption, tbody, tfoot, thead {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size: 100%;
  font-style:normal;
  text-decoration:none;
  font-weight:normal;
  vertical-align:baseline;
  background:transparent;
}
ol, ul {
  /* TODO 2022-02-22 mmikowski: Annotate this comments or delete */
  /* list-style:none; */
}

p {
  padding-bottom: 5px;
}

html, body {
  margin:0;
  padding:0;

  background-color:#eff0f1;

  font-family: 'Droid Sans', 'Cantarell', 'Ubuntu', 'UbuntuBeta', sans-serif;
  font-size:13px;
  line-height:1.4em;

  color:#333333;

  /* no reason to expose this extra stuff to the user */
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  cursor:default;
}

/*
Hyperlink-style text
*/
a {
  /* TODO 2022-02-22 mmikowski: Annotate this comments or delete */
  /*color:#0087ED;*/
  color:#1d99f3;
  text-decoration:underline;
  display:inline;
}

.text a:hover {
  text-decoration:underline;
}

strong {
  font-weight: bolder;
}

#icon-logo {
  position: absolute;
  bottom: -15px;
  right: 55px;
  width: 135px;
  height: 150px;
}

#icon-help {
  position: absolute;
  bottom: -15px;
  right: 55px;
  width: 135px;
  height: 160px;
}

#icon-users {
  position: absolute;
  bottom: -15px;
  right: 55px;
  width: 135px;
  height: 165px;
}

#wrapper {
  position:absolute;
  width:752px;
  height:100%;
}

#slideshow {
  width:752px;
  min-height:442px;
  height:100%;
  overflow:hidden;
  /* move this to #main if we want the background image to move with slides */
  /*background-image:url('background.jpg');*/
  /*background-position: bottom;*/
}
#slideshow > div {
  position:absolute;
  width:100%;
  height:100%;
}

.control-arrow {
  display:block;
  position:absolute;
  z-index:100;
  top:378px;
  height:64px;
  width:33px;
  background-repeat:no-repeat;
  cursor:pointer;
}
.control-arrow.disabled {
  cursor:default;
}
.control-arrow:hover {
  background-position: 0px -65px;
}
.control-arrow:active {
  background-position: 0px -130px;
}
.control-arrow#prev-slide {
  background-image:url('arrow-back.png');
  left:20px;
}
.control-arrow#next-slide {
  background-image:url('arrow-next.png');
  left:719px; /* 752px - 33px */
}

/* Fixed container for a slide's title */
.header {
  display:table; /* this is a bit evil, but it lets us vertically centre stuff */
  position:absolute;
  /* FIXME: better to use position:relative here and for #main.
     Need to have a specific maximum height, though,
     which isn't working with display:table */
  top:0px;
  width:100%;
  height:68px;
  z-index: 2;
  background-color:#232629;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.header > .slidetitle {
  display:table-cell;
  padding:0px 25px;
  vertical-align:middle;
  font-size:20px;
  line-height:50px;
  font-weight:bold;
  color:#fcfcfc;
}
.header > .slidetitle img {
  display: block;
}

.main {
  position:absolute;
  top:70px; /* 68px + 2px margin */
  bottom:0px;
  left:0px;
  right:0px;
  min-height:370px; /* 442px (from #slideshow) - 70px - 2px */
  /* move this to #slideshow if we don't want the background image to move with slides */
  /*background-image:url('background.png');*/
}

/*
A slide's body text goes inside here.
Inner space is 224px wide.
*/

/* TODO 2022-02-22 mmikowski: This rule has no selector.
 * Either annotate or delete.
{
  position:absolute;
  z-index:10;
  top:55px;
  left:30px;
  width:248px;
  bottom:0px;
  min-height:314px;
  overflow:auto;
}
*/
/* 369 - 25 - 15 (for bottom) */

/*
This rule disables drag-and-drop for images.  See bug #448703.
*/
img {
  -webkit-user-drag:none;
}

/* RTL stuff */
.rtl {
  direction:rtl;
}

.rtl .control-arrow#prev-slide {
  background-image:url('arrow-next.png');
  left:719px;
}
.rtl .control-arrow#next-slide {
  background-image:url('arrow-back.png');
  left:686px; /* 752px - 33px */
}

.l10n-string {
  display:none;
}

/* BEGIN Addons by Kubuntu
 * Aaron Honeycutt <aaronhoneycutt@kubuntu.org>
 * ahoneybun on IRC
 */

.main > ul.center {
  list-style-type:none;
  font-size:15px;
  width:525px;
  padding-top:25px;
  padding-left:25px;
}

#center-text {
  list-style-type:disc;
  font-size:16px;
  text-align:left;
  padding-left:25px;
  width:455px;
  overflow:auto;
}

#full-text {
  list-style-type:disc;
  font-size:16px;
  text-align:left;
  /* TODO 2022-02-22 mmikowski: Annotate this comments or delete */
  /*padding-top:15px;*/
  padding-left:25px;
  width:85%;
  overflow:auto;
}

#left-text {
  font-size:16px;
  text-align:left;
  /* TODO 2022-02-22 mmikowski: Annotate this comments or delete */
  /*padding-top:35px;*/
  padding-left:25px;
  width:211px;
  overflow:auto;
}

#left-text-alt {
  font-size:16px;
  text-align:left;
  padding-top:35px;
  padding-left:13px;
  width:380px;
  overflow:auto;
}

#right-text {
  font-size:16px;
  text-align:right;
  padding-top:65px;
  padding-left:380px;
  width:350px;
  overflow:auto;
}

#screenie {
  display:block;
}

#double-screenie {
  display:block;
  padding-top:75px;
  padding-left:300px;
}

#icon {
  display:block;
}

.box#bubble {
  width:185px;
  height:90px;
  border:1px;
  margin-left:12px;
  margin-top:225px;
  padding:5px;
  background-color:#4d4d4d;
  color:#fcfcfc;
}

table {
  border-radius: 5px;
  border-spacing: 10px;
  border-collapse: separate;
  /* TODO 2022-02-22 mmikowski: Annotate this comments or delete */
  /*padding-top: 45px;*/
  width: 85%;
  margin: auto auto;
  float: none;
}

td {
  text-align: center;
  padding-bottom: 15px;
}

/* Added 2022-02-22 mmikowski for embedded svg */
td img { height: 64px; width: 64px }
/* . END Addons by Kubuntu */
