Package: ubiquity-slideshow-privos
Source: ubiquity-slideshow-ubuntu
Version: 199
Architecture: all
Maintainer: Pol Kaulfield <kaulfield@protonmail.com>
Original-Maintainer: Ubiquity Slideshow Team <ubiquity-slideshow@lists.launchpad.net>
Installed-Size: 1351
Conflicts: ubiquity-slideshow
Replaces: ubiquity-slideshow
Provides: ubiquity-slideshow
Section: x11
Priority: optional
Homepage: https://launchpad.net/ubiquity-slideshow-ubuntu
Description: Ubiquity slideshow for Kubuntu
 A slideshow intended for the Ubiquity installer, designed as a quick
 introduction to Kubuntu.
