[Desktop Entry]
Type=Application
Version=1.0
# Do not translate the word "RELEASE".  It is used as a marker by casper.
Name=Install RELEASE
Comment=Install this system permanently to your hard disk
Keywords=ubiquity;
Exec=ubiquity kde_ui
Icon=ubiquity-kde
Terminal=false
Categories=KDE;Qt;System;
OnlyShowIn=KDE;
X-Ubuntu-Gettext-Domain=ubiquity-desktop
