[Desktop Entry]
Type=Application
Version=1.0
Name=Install PrivOS 24.04 LTS
Name[ar]=تثبيت كوبونتو 24.04 LTS
Name[ca]=Instal·lar PrivOS 24.04 LTS
Name[da]=Installer PrivOS 24.04 LTS
Name[de]=PrivOS 24.04 LTS installieren
Name[es]=Instalar PrivOS 24.04 LTS
Name[fr]=Installer PrivOS 24.04 LTS
Name[it]=Installa PrivOS 24.04 LTS
Name[no]=Installer PrivOS 24.04 LTS
Name[pl]=Zainstaluj PrivOS 24.04 LTS
Name[pt]=Instalar o PrivOS 24.04 LTS
Name[pt_BR]=Instalar PrivOS 24.04 LTS
GenericName=Install PrivOS
GenericName[ar]=تثبيت كوبونتو
GenericName[ca]=Instal·lar PrivOS
GenericName[da]=Installer PrivOS
GenericName[de]=PrivOS installieren
GenericName[es]=Instalar PrivOS
GenericName[fr]=Installer PrivOS
GenericName[it]=Installa PrivOS
GenericName[no]=Installer PrivOS
GenericName[pl]=Zainstaluj PrivOS
GenericName[pt]=Instalar o PrivOS
GenericName[pt_BR]=Instalar PrivOS
Exec=sudo -E /usr/bin/calamares-launch-normal
Comment=Calamares — System Installer
Comment[ar]=كالاماريس - مثبت النظام
Comment[ca]=Calamares — Instal·lador del Sistema
Comment[da]=Calamares - System installation
Comment[de]=Calamares — System Installer
Comment[es]=Calamares — Instalador del Sistema
Comment[fr]=Calamares  — Installateur de votre system
Comment[it]=Calamares — Installatore del Sistema
Comment[no]=Calamares — System installerer
Comment[pl]=Calamares — Instalator systemu
Comment[pt]=Calamares — Instalador do Sistema
Comment[pt_BR]=Calamares — Instalador do sistema
Icon=system-software-install
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;calamares;system;
