Package: zsh-config-privos
Version: 1
Section: custom
Priority: optional
Architecture: all
Essential: no
Maintainer: Pol Kaulfield <kaulfield@protonmail.com>
Description: Default zsh config for PrivOS
