[Desktop Entry]
Comment=
Exec=pkexec ubuntu-drivers --gpgpu install
GenericName=Installs the NVIDIA drivers using ubuntu-drivers
Icon=state-download
Name=Install NVIDIA drivers
NoDisplay=false
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
