[Desktop Entry]
Comment=
Exec=pkexec /usr/bin/install-nvidia-privos
GenericName=Installs the NVIDIA drivers using ubuntu-drivers
Icon=state-download
Name=Install NVIDIA drivers
NoDisplay=false
Path=
StartupNotify=true
Terminal=true
Categories=System;
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
