Package: sysctl-ip-hardening-privos
Version: 1
Section: custom
Priority: optional
Architecture: all
Essential: no
Maintainer: Pol Kaulfield <kaulfield@protonmail.com>
Description: IPv4 and IPv6 hardened sysctl settings from the Brace project
