name: build-bionic

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Build
        run: |
          cd scripts
          sed -i -E 's/TARGET_UBUNTU_VERSION=(.*)/TARGET_UBUNTU_VERSION="bionic"/g' default_config.sh
          ./build.sh -
      - name: Archive artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ubuntu-from-scratch
          path: |
            scripts/ubuntu-from-scratch.iso
            scripts/image/md5sum.txt
